#GENENRAL
TODO.txt
.git
*.zip
.zip
*.mcpack
.mcpack
servermain
servermain/*
node_modules
node_modules/*

#DAEMON PANEL
/PANEL/Daemon/server/
/PANEL/Daemon/.vscode/
/PANEL/Daemon/testServer/
/PANEL/Daemon/*.exe
/PANEL/Daemon/docker_temp/
/PANEL/Daemon/toprettier.bat
/PANEL/Daemon/upload/
/PANEL/Daemon/lib/
/PANEL/Daemon/tmp/
/PANEL/Daemon/dist/
/PANEL/Daemon/production/
/PANEL/Daemon/test_file/
/PANEL/Daemon/core/*.json
/PANEL/Daemon/public/common/URL.js
/PANEL/Daemon/property.js
/PANEL/Daemon/test.txt
/PANEL/Daemon/#vscode
/PANEL/Daemon/*.code-workspace
/PANEL/Daemon/error
/PANEL/Daemon/tmp_files/
/PANEL/Daemon/logs
/PANEL/Daemon/*.log
/PANEL/Daemon/npm-debug.log*
/PANEL/Daemon/yarn-debug.log*
/PANEL/Daemon/yarn-error.log*
/PANEL/Daemon/log/
/PANEL/Daemon/test/
/PANEL/Daemon/# Runtime data
/PANEL/Daemon/pids
/PANEL/Daemon/*.pid
/PANEL/Daemon/*.seed
/PANEL/Daemon/*.pid.lock
/PANEL/Daemon/lib-cov
/PANEL/Daemon/coverage
/PANEL/Daemon/.nyc_output
/PANEL/Daemon/.grunt
/PANEL/Daemon/bower_components
/PANEL/Daemon/.lock-wscript
/PANEL/Daemon/build/Release
/PANEL/Daemon/node_modules/
/PANEL/Daemon/jspm_packages/
/PANEL/Daemon/typings/
/PANEL/Daemon/.npm
/PANEL/Daemon/.eslintcache
/PANEL/Daemon/.node_repl_history
/PANEL/Daemon/*.tgz
/PANEL/Daemon/.yarn-integrity
/PANEL/Daemon/.env
/PANEL/Daemon/Note.txt
/PANEL/Daemon//.idea/*
/PANEL/Daemon/language

#MCSMANAGER PANEL
/PANEL/MCSManager/logs
/PANEL/MCSManager/*.log
/PANEL/MCSManager/npm-debug.log*
/PANEL/MCSManager/yarn-debug.log*
/PANEL/MCSManager/yarn-error.log*
/PANEL/MCSManager/lerna-debug.log*
/PANEL/MCSManager/test.txt
/PANEL/MCSManager/src/public
/PANEL/MCSManager/*.code-workspace
/PANEL/MCSManager/vscode/
/PANEL/MCSManager/.vscode/
/PANEL/MCSManager/Daemon/
/PANEL/MCSManager/dist/
/PANEL/MCSManager/out/
/PANEL/MCSManager/public/
/PANEL/MCSManager/production/
/PANEL/MCSManager/.DS_Store
/PANEL/MCSManager/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/PANEL/MCSManager/pids
/PANEL/MCSManager/*.pid
/PANEL/MCSManager/*.seed
/PANEL/MCSManager/*.pid.lock
/PANEL/MCSManager/lib-cov
/PANEL/MCSManager/coverage
/PANEL/MCSManager/*.lcov
/PANEL/MCSManager/error
/PANEL/MCSManager/.nyc_output
/PANEL/MCSManager/.grunt
/PANEL/MCSManager/bower_components
/PANEL/MCSManager/.lock-wscript
/PANEL/MCSManager/build/Release
/PANEL/MCSManager/node_modules/
/PANEL/MCSManager/jspm_packages/
/PANEL/MCSManager/typings/
/PANEL/MCSManager/*.tsbuildinfo
/PANEL/MCSManager/.npm
/PANEL/MCSManager/.eslintcache
/PANEL/MCSManager/.rpt2_cache/
/PANEL/MCSManager/.rts2_cache_cjs/
/PANEL/MCSManager/.rts2_cache_es/
/PANEL/MCSManager/.rts2_cache_umd/
/PANEL/MCSManager/.node_repl_history
/PANEL/MCSManager/*.tgz
/PANEL/MCSManager/.yarn-integrity
/PANEL/MCSManager/.env
/PANEL/MCSManager/.env.test
/PANEL/MCSManager/.cache
/PANEL/MCSManager/.next
/PANEL/MCSManager/.nuxt
/PANEL/MCSManager/dist
/PANEL/MCSManager/.cache/
/PANEL/MCSManager/.vuepress/dist
/PANEL/MCSManager/.serverless/
/PANEL/MCSManager/.fusebox/
/PANEL/MCSManager/.dynamodb/
/PANEL/MCSManager/.tern-port
/PANEL/MCSManager/workspace.code-workspace
/PANEL/MCSManager/src/public/1.png
/PANEL/MCSManager/.idea/*

#UI PANEL
/PANEL/UI/logs
/PANEL/UI/*.log
/PANEL/UI/npm-debug.log*
/PANEL/UI/yarn-debug.log*
/PANEL/UI/yarn-error.log*
/PANEL/UI/lerna-debug.log*
/PANEL/UI/bak/
/PANEL/UI/vscode/
/PANEL/UI/.vscode/
/PANEL/UI/.DS_Store
/PANEL/UI/dist
/PANEL/UI/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/PANEL/UI/pids
/PANEL/UI/*.pid
/PANEL/UI/*.seed
/PANEL/UI/*.pid.lock
/PANEL/UI/lib-cov
/PANEL/UI/coverage
/PANEL/UI/*.lcov
/PANEL/UI/.nyc_output
/PANEL/UI/.grunt
/PANEL/UI/bower_components
/PANEL/UI/.lock-wscript
/PANEL/UI/build/Release
/PANEL/UI/node_modules/
/PANEL/UI/jspm_packages/
/PANEL/UI/typings/
/PANEL/UI/*.tsbuildinfo
/PANEL/UI/.npm
/PANEL/UI/.eslintcache
/PANEL/UI/.rpt2_cache/
/PANEL/UI/.rts2_cache_cjs/
/PANEL/UI/.rts2_cache_es/
/PANEL/UI/.rts2_cache_umd/
/PANEL/UI/.node_repl_history
/PANEL/UI/*.tgz
/PANEL/UI/.yarn-integrity
/PANEL/UI/.env
/PANEL/UI/.env.test
/PANEL/UI/.cache
/PANEL/UI/.next
/PANEL/UI/.nuxt
/PANEL/UI/dist
/PANEL/UI/.cache/
/PANEL/UI/.vuepress/dist
/PANEL/UI/.serverless/
/PANEL/UI/.fusebox/
/PANEL/UI/.dynamodb/
/PANEL/UI/.tern-port
/PANEL/UI/workspace.code-workspace
/PANEL/UI/.idea/*

